<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Path
            </th>
            <th>
                Picture Path
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody id="musicList">
        
    </tbody>
</table>
<script src="/js/list_musics.js"></script>


