<div class="row">
    <div class="col-md-6">
        <form>
            <input type="button" id="Create" value="Create" class="btn btn-primary" />
            <div class="form-group none">
                <label class="control-label">Name</label>
                <input class="form-control" value="Name" disabled />
                <input id="playlist_name" class="form-control"/>
                <span class="text-danger"></span>
            </div>
            <br>
        </form>
    </div>
</div>
    <table class="table" id="music_list">
        <thead>
            <tr>
                <th>
                    Add
                </th>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Path
                </th>
                <th>
                    Picture Path
                </th>
            </tr>
        </thead>
    </table>
<script src="/js/playlists/add_playlist.js"></script>