<div>
    <table class="display nowrap" style="width:100%" id="music_list">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Musics
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
    <script src="/js/playlists/list_playlists.js"></script>
    
</div>

