<div class="row">
    <div class="col-md-6">
        <form action="/Youtube/Download" method="post" enctype="multipart/form-data">
            <input type="submit" id="Create" value="Create" class="btn btn-primary" />
            <div class="form-group none">
                <label class="control-label">Link</label>
                <input id="music_name" class="form-control propertiesname" name="link"/>
                <span class="text-danger"></span>
            </div>
        </form>
    </div>
</div>